---
layout: default
hide_header: true
---

<div class="home">


  <div class="container">
    <h1 class="page-heading">
      Mundane Programming. Or: How to Program for Tomorrow.
    </h1>

    <section class="section-intro">
      {% capture xs %}{% include pages/homepage/intro.md %}{% endcapture %}
      {{ xs | markdownify }}
    </section>


    <section class="well">
      <h4>Under construction</h4>
      <p>This site was meant as a repository for code examples we wanted to show, so that people didn't feel the need to frantically copy recipes or code snippets during the SRCCON presentation. However, it wasn't quite organized and polished in time. You're free to peruse the code so far, but keep in mind that they haven't been given a full (or any) explanation yet.</p>

    </section>

    <section class="section-examples">
      <h3>Example <a href="/examples">Recipes and Projects</a></h3>
      {% capture xs %}{% include pages/homepage/home-examples.md %}{% endcapture %}
      {{ xs | markdownify }}
    </section>

    <section class="section-authors">
      <h3>Contributors</h3>
      {% capture xs %}{% include pages/homepage/about-authors.md %}{% endcapture %}
      {{ xs | markdownify }}
    </section>
  </div>
</div>
