---
layout: default
hide_header: true
---

<div class="home">


  <div class="container">
    <h1 class="page-heading">Be a Better Programmer Through Mundane Programming</h1>

      <section class="intro">
        {% capture xs %}{% include pages/homepage/intro.md %}{% endcapture %}
        {{ xs | markdownify }}
      </section>



      <section class="examples">
        {% capture xs %}{% include pages/homepage/home-examples.md %}{% endcapture %}
        {{ xs | markdownify }}
      </section>

<!--
      <section class="resources">
        {% capture xs %}{% include pages/homepage/resources.md %}{% endcapture %}
        {{ xs | markdownify }}
      </section>
 -->
      <section class="authors">
        {% capture xs %}{% include pages/homepage/about-authors.md %}{% endcapture %}
        {{ xs | markdownify }}
      </section>


  </div>
</div>
