
<!-- footer -->





<footer class="site-footer">
  <div class="container">


    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur dolorum quia, voluptates. Ullam accusantium quaerat in necessitatibus, blanditiis sint ipsa, eius excepturi doloribus dolore nisi voluptatibus, hic consectetur itaque. Deleniti?
    </p>



<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse neque, deserunt similique odit labore. Veritatis dicta eum cumque, enim itaque id accusantium quis asperiores saepe quibusdam ipsum at consequuntur, debitis!
</p>

  </div>
</footer>

