
<!-- footer -->





<footer class="site-footer">
  <div class="container">
    <div class="row">
        <div class="col-sm-6">
          <ul class="list list-unstyled">

            <li>
              <a href="http://srccon.org">SRCCON 2015</a>
            </li>
            <li>
              <a href="https://github.com/{{site.github_repo}}">Github</a>
            </li>

          </ul>
        </div>





        <div class="col-sm-6">

          <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur dolorum quia, voluptates. Ullam accusantium quaerat in necessitatibus, blanditiis sint ipsa, eius excepturi doloribus dolore nisi voluptatibus, hic consectetur itaque. Deleniti?
          </p>

        </div>


    </div><!-- end row-->






  </div>
</footer>

