
pre{
  font-size: 14px;
}



code {
  padding: 1px 1px;
  font-size: 100%;
  color: $code-color;
  border-radius: 0px;
}

a:link, a:visited, h1, h2, h3, h4, h5, h6{
  code{
    padding: 0;
    color: inherit;
  }
}





.codepiece{
  overflow: auto;
  &.brief{
    pre{
      max-height: 400px;
    }
  }
}
