$button_height: 80px;
.magicbutton {
  border-radius:50%;
  border: 2px solid;
  border-color: #aaa;
  height: $button_height;
  width: 80px;
  padding: 0;
  outline: none;
  transition: all 0.3s ease-in;

  &:hover {
    box-shadow:inset 0 0 0px 5px #faa;
    transition: all 0.3s ease-in;
  }
}


.magic-outline{
  &:hover {
    outline: #aaa solid 1px;
    transition: all 0.3s ease-in;
  }
}

.magic-fill{
  &:hover{
    background-color: #777;
    transition: all 0.3s ease-in;
  }
}

.magic-border{
  border: thin solid #555;
  &:hover {
    border: thin solid #aaa;
    transition: all 0.3s ease-in;
  }
}


a.fa{
  &:link, &:visited,&:hover{
    text-decoration: none;
  }
}
