.site-header{
  border-bottom: thin solid #ddd;
  padding-bottom: 0.3em;
  padding-top: 0.3em;
  background-color: inherit;
  margin-bottom: 0;

  &.navbar, &.navbar-fixed{
    min-height: 10px;
  }
}

/* headroom stuff */
.headroom {
    transition: transform 200ms linear;
}
.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-100%);
}
