.posts-list{
  h3{
    color: $gray;
    margin-bottom: 3px;
    margin-top: 0;
  }

  .imgwrap{
    border: thin solid #aaa;
  }

  a.title-link{
    &:link, &:visited{
      color: $gray-dark;
      text-decoration: none;
    }
  }
  .item{
    @extend .row;
    padding: 1.0em 0;
    margin-bottom: 1.5em;

    &.even{
      background: #eee;
    }
  }

  .thumb-wrapper{
    @extend .col-sm-2;
  }

  .text{
    @extend .col-sm-10;
  }
}
