  {% if page.files %}
    <h4>File manifest</h4>
    <ul class="files">
      {% for file in page.files %}
        <li>
          <a href="https://github.com/{{site.github_repo}}/tree/master/{{file.name}}">
            <span class="name">{{ file.name }}</span>
          </a>


          <div class="description">
            {{ file.description }}
          </div>

          <div class="links">

            <a href="https://github.com/{{site.github_repo}}/tree/master/{{file.name}}" class="github">[github]</a>
            <a class="raw" href="/{{file.name}}">[raw]</a>
          </div>

        </li>
        {% endfor %}
    </ul>
  {% endif %}
