      <ul class="files list-unstyled">
        {% for file in include.files %}
          <li class="">
            <a href="https://github.com/{{site.github_repo}}/tree/master/{{file.name}}">
              <span class="name">{{ file.name | remove_first: 'code/'}}</span>
            </a>


            <div class="description">
              {% if file.description %}
              {{ file.description  }}
              {% endif %}
            </div>

            <div class="links">
              {% include snippets/github_raw_links.html filename=file.name %}
            </div>

          </li>
          {% endfor %}
      </ul>
