

.example-content{
    h2, h3, h4{
      margin-top: 1.0em;
    }
}

.example-page{
  img{
    max-width: 100%;
  }


  #meta-top{
    margin-bottom: 2.0em;
    padding-bottom: 1.0em;
    border-bottom: thin solid #aaa;
  }

  #meta-boilerplate{
    margin-top: 1.5em;
    margin-bottom: 1.0em;
  }

  #file-manifest{

    h5{
      margin-bottom: 1px;
    }
    .description{
      font-size: 0.85em;
      font-style: normal;
      margin-bottom: 1px;
    }
    .name{
      font-size: 0.85em;
      font-weight: bold;
    }

    .links{
      font-size: 0.8em;
    }

    ul.files{
      li{
        margin-bottom: 1.0em;
      }
    }

  }

  .description{
    font-size: 1.2em;
    line-height: 1.2em;
    margin-bottom: 0.5em;
  }

  .keywords{
    margin-left: 0;
  }


}

// .example-page{
//   .container{
//     p{
//       max-width: $prose-container-width;
//     }
//   }
// }
