.examples-listing{
  .title{
    font-weight: 400;
    margin-bottom: 2px;
  }
}


.example-page{
  .description{
    font-size: 1.2em;
    line-height: 1.1em;
    margin-bottom: 2.0em;
    font-style: italic;
  }
}
