---
layout: page
---



<div class="example-page">
  <section id="meta-top">
    <div class="container">
      <div class="well">
      <section id="meta-boilerplate">
            <div class="description">
              {{ page.description }}
            </div>

            <ul class="keywords list-inline">
                {% if page.keywords %}
                  <h5>Keywords</h5>

                  {% for kgrp in page.keywords %}
                    {% for keyword in kgrp[1] %}
                      <li class="keyword">{{keyword}}</li>
                    {% endfor %}
                  {% endfor %}
                {% endif %}
            </ul>
      </section>







      <section id="meta-nav">
          <div class="row">
            <div class="col-sm-6">
              {% include snippets/toc.html %}
            </div>
            <div class="col-sm-6">
              <div id="file-manifest">
                {% if page.files %}
                  <h5>Related files</h5>
                  {% include pages/file-manifest.html files=page.files %}
                {% endif %}

              </div>
            </div>
          </div>
      </section> <!-- section#meta-nav -->


    </div> <!--well -->
    </div> <!--container -->

  </section> <!--meta-top -->




  <div class="example-content">
    <div class="container">

    {% if page.the_need %}
            <h1>The need</h1>
            {{ page.the_need | markdownify }}
            <h2>The old-fashioned routine</h2>

            <ol id="the_routine">
              {% for rstep in page.the_routine %}
                <li>{{ rstep }}</li>
              {% endfor %}
            </ol>
    {% endif %}




      {{ content }}
    </div>
  </div>

  {% if page.related_links %}
  <section class="related_links">
    <div class="container">
      <h3>Related links</h3>
      <ul class="list-">
        {% for link in page.related_links %}
          <li><a href="{{link.url}}">{{link.title}}</a></li>
        {% endfor %}
      </ul>
    </div>
  </section>
  {%endif%}

</div>





